.section__feedback {
  padding: 105px 0 120px;
  .grid-container-medium{
    max-width: 1245px;
  }
}

.contact-page {
  .section__location {
    margin-top: 70px;
  }
  .subtitle{
    padding-top: 80px;
    padding-bottom: 20px;
    margin-bottom: 55px;
  }
}

.wpcf7 {
  width: 100%;
}

.page-template-template-contact {
  .default__fon {
    background-position-y: 14%;
  }
}
